.notifications {
  align-items: flex-start;
  display: flex;
  height: 300px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: white rgb(110, 110, 110);
  scrollbar-width: thin;
  width: 100%;
}

.notifications__list {
  display: flex;
  flex-flow: column;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
}

.noNotifications {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}

.loadMoreButton {
  background-color: #70ffaf !important;
  border: none;
  border-radius: 4px;
  color: #000 !important;
  cursor: pointer;
  font-size: 16px;
  margin: 16px auto;
  padding: 8px 16px;
  text-align: center;
}

.loadMoreButton:hover {
  background-color: #5bde94;
}
