.notifications{
    align-items: flex-start;
    display: flex;
    height: 50vh;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
}

.notifications__list {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    width: 100%;
}

.noNotifications {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}