.componentWidth {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
}

.searchContainer {
    background-color: #aeaeae;
    display: flex;
    align-items: center;
    width: 200px; /* Set the desired width for the search container */
    padding: 10px;
    border-radius: 16px;
    justify-content: center; 
}

.searchInput {
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    width: 100%;
}

ul{
    width:100%;
}
