.homePage {
  display: flex;
  height: 100%; 
  width: 100%;
}
  
.postSection {
  align-items: center;
  background-color: #ffffff00;
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  padding: 20px;
}

.drawer{
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  .recommended__button{
    background-color: #343434 !important;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    color: #70ffaf;
    padding: 2rem 0 !important;
  }
}

.recommended { 
  align-items: center;
  background-color: rgb(156, 156, 156, 0.5);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  width: 400px;
}

.recommendedTitle {
  color: rgb(207, 207, 207);
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

/* Icon bar styles */
.icon_bar {
  background-color: #555;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  width: 100%;

  .icon_section {
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    &.active {
      background-color: #70ffaf;
      border-radius: 10px;
      color: black;
    }

    .icon {
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      height: 28px;
      width: 28px;
    }
  }
}
.noPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  text-align: center; 
  color: #ffffff; 
}

.noPosts p:first-of-type {
  font-weight: 700; 
  font-size: 1.5rem; 
  margin: 0 0 0.5rem; 
  color:  #70ffaf; 
}

.noPosts p:last-of-type {
  font-weight: 400; 
  font-size: 1rem; 
  margin: 0; 
}



@media (max-width: 600px) {
  .recommended{
    width: 300px !important;
  }

  .postSection{
    margin-bottom: 3.5rem !important;
  }

  .drawer{
    top: 75%;
    .recommended__button{
      background-color: rgba(97, 97, 97, 0.5) !important;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      color: #70ffaf;
      padding: 1rem 0 !important;
      max-width: 20px !important;
    }
  }
}

