.homePage {
    display: flex;
    height: 100%; 
    width: 100%;
  }
  
  
  .postSection {
    flex: 2; /* Middle section wider than the nav */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff00;

  align-items: center; /* Horizontal alignment */
  }
  
  .authorSection {
    flex: 1; /* Last section */
    max-width: 350px;
    padding: 20px;
    background-color: #343434;

  }
  