.overlay {
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal {
  background-color: #424242;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 15px;

  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #70ffaf;
  }

  .cardImage {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .postImage {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    object-fit: contain;
  }

  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  .content_field {
    color: white;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 200px;
    
    /* Mimic border visibility while scrolling */
    box-shadow: inset 0 0 0 1px #fff;

    /* Hide scrollbar for WebKit browsers (e.g., Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;

    &::placeholder {
      color: #fafafa;
    }
  }

  .visibilitySelectLabelTitle {
    color: white;
    margin-bottom: 8px;
  }

  .visibilitySelectLabel {
    color: white;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.cancelButton {
      background-color: #555;
      color: white;
      transition: 0.3s ease-in-out;
      margin-right: 1rem;

      &:hover {
        background-color: #ff4d4d;
        color: #555;
      }
    }
  }
}

